export SECRET_KEY_BASE=hClp2yDdy2vdJYFO2FkryP/dDR4TMe8ZqUhbZHFBR87Eze+CPW7ThhD+hXbHkkhT
export DATABASE_URL=ecto://postgres:example@localhost:5469/cromulent_dev
export TURN_SECRET=dHayIhb6O/11ZGdyEfvOKke56lBNQxDigGTvIRQoa/DHgVE/eaHI3o3f/q4MzhE4
export TURN_URL=turn:localhost:3478
export TURN_PROVIDER=coturn